<%- include("../partials/head.ejs") %>

<body class="Detalleprodu">
    
    <%- include("../partials/header.ejs") %>

    <main>
      <div class="button-container">
         <a href="/products"> <button class="menu">Volver al Menú</button> </a>
      </div>
        
        <div class="foto-container">
          <button class="antsig">&#8249;</button>

          <!-- Imagen producto -->
          <img class="foto" src="/images/imgmenu/<%= products.images %>" alt="Foto de producto" width="100%">

         <button class="antsig">&#8250;</button>
        </div>
        

        <!-- Información producto -->
        <section class="detalle">
            <article class="categoria"><%= products.category %> / <%= products.subcategory %></article>
            
            <h1 class="nombreprod"><%= products.title%></h1>
            
            <p class="desc"><%= products.description %></p>
            
            <article class="cantycarr">
            <a href="#" class="cant">-</a>
            <input type="number" class="numero" value="1" >
            <a href="#" class="cant">+</a>
            
            <a href="/users/carrito" class="carrito">Agregar al Carrito</a>
            </article>

            <article class="tablainfo">
                <div class="columna">
                  <div class="carta"><%= products.calories %><br>Calorías</div>
                </div>
                <div class="columna">
                  <div class="carta"><%= products.totalfat %><br>Grasas(g)</div>
                </div>
                <div class="columna">
                  <div class="carta"><%= products.protein %><br>Prot (g)</div>
                </div>
                <div class="columna">
                  <div class="carta"><%= products.carb %><br>Carb (g)</div>
                </div>
            </article>

            <h2>Información Nutricional</h2>

            <article>
              <table>
                <tr>
                  <td class="c1">Grasa Saturada (g)</td>
                  <td class="c2"><%= products.saturatedfat %></td>
                  <tr>
                    <td class="c1">Grasas trans (g)</td>
                    <td class="c2"><%= products.transfat %></td>
                  </tr>
                  <tr>
                    <td class="c1">Colesterol (mg)</td>
                    <td class="c2"><%= products.cholesterol %></td>
                  </tr>
                  <tr>
                    <td class="c1">Azúcares (g)</td>
                    <td class="c2"><%= products.sugars %></td>
                  </tr>
                  <tr>
                    <td class="c1">Sodio (mg)</td>
                    <td class="c2"><%= products.sodium %></td>
                  </tr>
                  <tr>
                    <td class="c1">Fibra (g)</td>
                    <td class="c2"><%= products.fiber %></td>
                  </tr>
                </tr>
                </tr>
              </table>
            </article>

            <div class="final-buttons">
              <a href="/products/create"><button class="b1">Crear</button></a><a href="/products/edit/<%= productDetail.id %>"><button class="b2">Editar</button></a><form action="/products/delete/<%= productDetail.id %>?_method=DELETE" method="POST"><button class="b3">Eliminar</button></form>
            </div>
        </section>

    </main>
    
    <%- include("../partials/footer.ejs") %>

</body>
</html>