<div class="row">

    <% users.map((user, index)=> { %>
            
        <tr>
          <th scope="row"><%= index + 1 %></th>
            <td class="taco"><%=user.name%></td>
            <td><img src="/images/users/<%=user.avatar%>" alt="Foto Usuario" height="100vh"></td>
            <td><%=user.email%></td>

            <td>
              <form action="/admin/deleteUser/<%= user.id %>?_method=DELETE" method="POST" id="eliminar-producto">
                <button type="submit" class="b3" >Eliminar</button>
              </form>
            </td>
          </tr>

<% }) %>
</div>