<div class="row">

    <% products.map((product, index)=> { %>
            
        <tr>
          <th scope="row"><%= index + 1 %></th>
            <td class="taco"><%=product.title%></td>
            <td><%=product.price%></td>

            <td><%=product.subcategories.category.name%></td>
            <td><%=product.subcategories.name%></td> 

    <tr>
      <th scope="row">
        <%= index + 1 %>
      </th>
      <td><img src="/images/imgmenu/<%=product.images%>" alt="Foto producto" height="100vh"></td>
      <td class="taco">
        <%=product.title%>
      </td>
      <td>
        <%=product.price%>
      </td>
      <td>
        <%=product.categoryId%>
      </td>
      <td>
        <%=product.subcategoryId%>
      </td>

      <td>
        <a href="admin/edit/<%= product.id %>">
          <button class="editar"><i class="fas fa-edit"></i></button>
        </a>

        <form action="admin/delete/<%= product.id %>?_method=DELETE" method="POST">
          <button class="borrar"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </form>
      </td>
    </tr>

    <% }) %>
</div>