<div class="row">

    <% products.map(product => { %>
            
        <tr>
            <td class="taco"><%=product.title%></td>
            <td><%=product.price%></td>
            <td><%=product.category%></td>
            <td><%=product.subcategory%></td>

            <td>
              <a href="admin/edit/<%= product.id %>">
                 <button class="editar"><i class="fas fa-edit"></i></button>
              </a>
              <form>
                <div>
                  <a href="admin/delete/<%= product.id %>">
                    <button class="borrar"><i class="fa fa-trash" aria-hidden="true"></i></button>
                 </a>
                </div>
              </form>
            </td>
          </tr>

<% }) %>
</div>