<div class="row">

    <% products.map(products => { %>
            
    <div class="contenedor">
        <section class="products">
            <a href="/products/detail/<%= products.id %> ">
                <article class="product-container">
                    <img src="/images/imgmenu/<%= products.images %>" alt= "Foto Producto">
                    <p><%= products.title %></p>
                    <nav>
                        <ul type="numbers">
                            <li>Calorias</li>
                            <li>Grasas Totales</li>
                            <li>Proteinas</li>
                            <li>Carbohidratos</li>
                        </ul>
                        <ul type="none">
                            <li><%= products.calories %></li>
                            <li><%= products.totalfat %></li>
                            <li><%= products.protein %></li>
                            <li><%= products.carb %></li>
                        </ul>
                    </nav>
                    <button>Ver más</button>
                </article>
            </a>
        </section>
    </div>

<% }) %>
</div>