<%- include("../partials/head.ejs") %>

  <body class="log-reg">

    <%- include("../partials/header.ejs") %>

      <main class="login-register">

          <section class="imagen">
            <img src="/images/login.png" style="width:100%">
          </section>

          
          <section class="camposform">
          <h1>¡Logueate!</h1>
          <form action="/users/login" method="POST">

            <div class="campo">
              <label for="email">Tu Correo Electrónico</label>
              <input type="text" value="<%= locals.old && old.email ? old.email : '' %>" id="email" name="email" placeholder="Ingrese e-mail registrado...">
              <% if (locals.errores && errores.email) { %>
                <small class="mensajeError">
                  <%= errores.email.msg %>
                </small>
                <% } %>
                <small class="js-email"> </small>

            </div>

            <div class="campo">
              <label for="password">Contraseña</label>
              <input type="password" id="password" name="password" placeholder="Ingrese su contraseña..." >
              <% if (locals.errores && errores.email) { %>
                <small class="mensajeError"> <%= errores.email.msg %> </small>
                <% } %>
                <small class="js-password"> </small>
            </div>


            <div id="divError"> <ul></ul> </div>

              <div class="buttons">
              <label for="submit">Ingresar</label>
              <input type="submit" id="submit" name="submit" hidden>
              </div>

              <div>
                <input type="checkbox" name="recordarme" id="recordarme"><p>Recordarme</p>
            </div>
              </div>

              <p>¿Sos nuevo en Tacopado?</p>
              <div class="buttons">
                <label for="submit-register">Registrarme</label>
                <button href="users/register" id="submit-register" name="submit-register"  hidden>Registrarme</button>
                </div>
          </form>
        </section>


      </main>

      <%- include("../partials/footer.ejs") %>

      <script src="/javascripts/validacion-login.js"></script>
  </body>

  </html>