<%- include("../partials/head.ejs") %>

<body class="userprofile">

    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="card">
    <img src="/images/users/<%= locals.userLogin.avatar %>" alt="profile photo" style="width:100%">
    <% if (locals.userLogin.sex == 1){ %>
      <h1>¡Bienvenido <%= locals.userLogin.name %>!</h1>
      <% } else if (locals.userLogin.sex == 2) { %>
      <h1>¡Bienvenida <%= locals.userLogin.name %>!</h1>
      <% } else { %>
        <h1>¡Bienvenid@ <%= locals.userLogin.name %>!</h1>
      <% } %>
    <p class="price">Tu perfil Tacopado</p>
    <p>Tu email es <%= locals.userLogin.email %></p>
    <p>Nos elegís desde <%= locals.userLogin.provincia %></p>
    
    <p><a href="/users/edit" class="button">Editar datos</a></p>
    
    <form action="/users/delete/<%= locals.userLogin.id %>?_method=DELETE" method="POST">
    <button class="button">Eliminar perfil</button>
    </form>

  </div>
<%- include("../partials/footer.ejs") %>
</body>

</html>