<%- include("../partials/head.ejs") %>

<body class="userprofile">

    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="card">
    <img src="/images/users/<%= user.img %>" alt="profile photo" style="width:100%">
    <% if (user.sexo === "Masculino"){ %>
      <h1>¡Bienvenido <%= user.name %>!</h1>
      <% } else if (user.sexo === "Femenino") { %>
      <h1>¡Bienvenida <%= user.name %>!</h1>
      <% } else { %>
        <h1>¡Bienvenid@ <%= user.name %>!</h1>
      <% } %>
    <p class="price">Tu perfil Tacopado</p>
    <p>Tu email es <%= user.email %></p>
    <p>Nos elegís desde <%= user.provincia %></p>
    <form action="edit/<%= user.id %>?_method=PUT" method="POST">
    <p><button>Editar datos</button></p>
    </form>
    <form action="edit/<%= user.id %>?_method=DELETE" method="POST">
    <p><button>Eliminar perfil</button></p>
    </form>
  </div>
<%- include("../partials/footer.ejs") %>
</body>

</html>