<%- include("../partials/head.ejs") %>

<body class="userprofile">

    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="card">
    <img src="/images/users/<%= userProfile.img %>" alt="profile photo" style="width:100%">
    <% if (userProfile.sexo === "Masculino"){ %>
      <h1>¡Bienvenido <%= userProfile.name %>!</h1>
      <% } else if (userProfile.sexo === "Femenino") { %>
      <h1>¡Bienvenida <%= userProfile.name %>!</h1>
      <% } else { %>
        <h1>¡Bienvenid@ <%= userProfile.name %>!</h1>
      <% } %>
    <p class="price">Tu perfil Tacopado</p>
    <p>Tu email es <%= userProfile.email %></p>
    <p>Nos elegís desde <%= userProfile.provincia %></p>
    
    <p><a href="/users/edit/<%= userProfile.id %>" class="button">Editar datos</a></p>
    
    <form action="/users/delete/<%= userProfile.id %>?_method=DELETE" method="POST">
    <button class="button">Eliminar perfil</button>
    </form>

  </div>
<%- include("../partials/footer.ejs") %>
</body>

</html>