<%- include("./partials/head.ejs") %>

<body class="products">
    <%- include("./partials/header.ejs") %>

    <main>
     
            <h2 class="products-title">Nuestro menú</h2>

            <!-- Show the "comidas" products -->
            <h2 class="products-title">Tacos</h2>
            <% products = Tacos %>
            <%- include("./partials/products.ejs") %>

            <h2 class="products-title">Burritos</h2>
            <% products = Burritos %>
            <%- include("./partials/products.ejs") %>

            <h2 class="products-title">Quesadillas</h2>
            <% products = Quesadillas %>
            <%- include("./partials/products.ejs") %>

            <h2 class="products-title">Entradas</h2>
            <% products = Entradas %>
            <%- include("./partials/products.ejs") %>

            <h2 class="products-title">Platos</h2>
            <% products = Platos %>
            <%- include("./partials/products.ejs") %>

            <h2 class="products-title">Ensaladas</h2>
            <% products = Ensaladas %>
            <%- include("./partials/products.ejs") %>

            <h2 class="products-title">Salsas</h2>
            <% products = Salsas %>
            <%- include("./partials/products.ejs") %>
            
            <h2 class="products-title">Dulces</h2>
            <% products = Dulces %>
            <%- include("./partials/products.ejs") %>

            <!-- Show the "bebidas" products -->          
            <h2 class="products-title">Gaseosas</h2>
            <% products = Gaseosas %>
            <%- include("./partials/products.ejs") %>

            <h2 class="products-title">Jugos</h2>
            <% products = Jugo %>
            <%- include("./partials/products.ejs") %>

            <h2 class="products-title">Agua</h2>
            <% products = Agua %>
            <%- include("./partials/products.ejs") %>
            
            </div>
            
            
        
    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>